body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#gameArea {
    position: relative;
    width: 90%;
    max-width: 400px;
    height: 80vh;
    overflow: hidden;
    border: 2px solid #000;
    background-color: #fff;
}

#score, #lives, #level {
    font-size: 1.2rem;
    position: absolute;
}

#score {
    top: 10px;
    left: 10px;
}

#level {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}

#lives {
    top: 10px;
    right: 10px;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 600px) {
    #score, #lives, #level {
        font-size: 1rem;
        margin: 5px;
    }

    #score {
        top: 5px;
        left: 5px;
    }

    #level {
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
    }

    #lives {
        top: 5px;
        right: 5px;
    }
}

#marcilio {
    width: 12%;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    touch-action: none;
}

.falling {
    width: 10%;
    position: absolute;
}
